# MedCom headeren
{http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd}FlowID -> FlowID
{http://www.medcom.dk/dgws/2006/04/dgws-1.0.xsd}MessageID -> MessageID

# Standard SAML
{urn:oasis:names:tc:SAML:2.0:assertion}Issuer -> Issuer
{urn:oasis:names:tc:SAML:2.0:assertion}NameID -> NameID

# WS Addressing - To versioner.
{http://schemas.xmlsoap.org/ws/2004/08/addressing}To -> To
{http://schemas.xmlsoap.org/ws/2004/08/addressing}Action -> Action
{http://www.w3.org/2005/08/addressing}To -> w3To
{http://www.w3.org/2005/08/addressing}Action -> w3Action
{http://www.w3.org/2005/08/addressing}MessageID -> w3MessageID

# IDWS Audience (Den service billetten kan bruges til) på et BST2IDWS omvekslet token.
{urn:oasis:names:tc:SAML:2.0:assertion}Audience -> Audience
